@font-face {
	font-family: 'fa-brands';
	src: url('./Fonts/fa-brands-400.woff2') format('woff2');
}

@font-face {
	font-family: 'fa-regular';
	src: url('./Fonts/fa-regular-400.ttf') format('truetype'),
	url('./Fonts/fa-regular-400.woff2') format('woff2');
}

@font-face {
	font-family: 'fa-solid';
	src: url('./Fonts/fa-solid-900.ttf') format('truetype'),
	url('./Fonts/fa-solid-900.woff2') format('woff2');
}

@font-face {
	font-family: 'v4compatibility';
	src: url('./Fonts/fa-v4compatibility.ttf') format('truetype'),
	url('./Fonts/fa-v4compatibility.woff2') format('woff2');
}

@font-face {
	font-family: 'Quicksand';
	src: 
	/* url('./Fonts/Quicksand-SemiBold.ttf') format('truetype'); */
	url('./Fonts/Quicksand-Regular.ttf') format('truetype');
	font-display: swap;
}

